<template>
    <div class="signin">
        <h1>Sign In</h1>
        <b-form @submit="onSubmit" v-if="show">
            <b-container class="signin_form">
                <div class="form-group">
                    <b-form-input
                        id="username"
                        v-model="form.username"
                        required
                        placeholder="User name"
                    ></b-form-input>
                </div>
                <div class="form-group">
                    <b-form-input
                        id="password"
                        v-model="form.password"
                        type="password"
                        required
                        placeholder="Password"
                    ></b-form-input>
                </div>
                <b-button-toolbar key-nav aria-label="Toolbar with button groups">
                    <b-button type="submit" variant="primary">Sign In</b-button>
                </b-button-toolbar>
            </b-container>
        </b-form>
    </div>
</template>


<script>
import axios from 'axios';

export default {
  data() {
    return {
      form: {
      },
      show: true,
    };
  },
  methods: {
    onSubmit() {
      //evt.preventDefault();
      // alert(JSON.stringify(this.form));
      try {
        axios.post(`http://localhost:3000/signin`, {
          username: this.form.username,
          password: this.form.password,
        })
        }catch (e) {
        this.errors.push(e);
      }
    },
  },
};
</script>
