<template>
<!-- eslint-disable -->
  <div class="form-group">
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-container class="signup_form">
        <b-row>
          <b-col>
            <h1>Sign Up</h1>
              <b-form-group id="name" label="Your Name:" label-align=left label-for="name">
                <b-form-input
                  id="name"
                  v-model="form.name"
                  required
                  placeholder="Enter name"
                ></b-form-input>
              </b-form-group>
              <b-form-group id="email" label="Your email address:" label-align=left
              label-for="email">
                <b-form-input
                  id="email"
                  v-model="form.email"
                  type="email"
                  required
                  placeholder="Enter email address"
                ></b-form-input>
              </b-form-group>
              <b-form-group id="username" label="Your user name:" label-align=left
              label-for="username">
                <b-form-input
                  id="username"
                  v-model="form.username"
                  required
                  placeholder="Enter user name"
                ></b-form-input>
              </b-form-group>
              <b-form-group id="password" label="Your password:" label-align=left
              label-for="password">
                <b-form-input
                  id="password"
                  v-model="form.password"
                  type="password"
                  required
                  placeholder="Enter password"
                ></b-form-input>
              </b-form-group>
              <b-form-group id="district" label="Your district:" label-align=left
              label-for="district">
                <b-form-select
                  id="district"
                  v-model="form.district"
                  :options="district"
                  required
                ></b-form-select>
              </b-form-group>
                <b-button-toolbar key-nav aria-label="Toolbar with button groups">
                  <b-button type="submit" variant="primary">Submit</b-button>
                  <b-button-group class="mx-1">
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-button-group>
                </b-button-toolbar>
            </b-col>
        </b-row>
      </b-container>
    </b-form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      form: {
        name: '',
        email: '',
        username: '',
        password: '',
        district: null,
      },
      district: [{ text: 'Select One', value: null }, 'Hong Kong Island', 'Kowloon', 'New Territories', 'Island'],
      show: true,
    };
  },
  methods: {
    onSubmit() {
      // evt.preventDefault();
      // alert(JSON.stringify(this.form));
      try {
        axios.post(`http://localhost:3000/signup`, {
          name: this.form.name,
          email: this.form.email,
          username: this.form.username,
          password: this.form.password,
          district: this.form.district,
        })
        }catch (e) {
        this.errors.push(e);
      }
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.name = '';
      this.form.email = '';
      this.form.username = '';
      this.form.password = '';
      this.form.district = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>
